.offset-start.col-xs-12.col-sm-12.col-md-12.col-lg-12.well
	=render "shared/flash"
	.pull-left
		%h4 Task Type
	.pull-right
		=form_tag(task_type_url(@task_type.id), :method => "delete") do 
			%a.btn.btn-primary{ :href => edit_task_type_url(@task_type.id) }
				%i.unicon-new-message
				Edit
			%button.btn.btn-danger{ :type => "submit" }
				%i.unicon-trash
				Delete
	.clearfix
	.offset-start
	.form-group
		%label.col-xs-2.col-sm-2.col-md-2.col-lg-2 Task Type Name
		%label= @task_type.name
