.offset-start.col-xs-12.col-sm-12.col-md-12.col-lg-12.well
	=render "shared/flash"
	=form_tag(task_project_task_action_url(@task_project, @task_action.id), method: "put", class: "form-horizontal") do
		.pull-left
			%h6 Edit Task Action
		.pull-right
			%button.btn.btn-primary Save
		.clearfix
		.offset-start
		.form-group
			%label.col-xs-2.col-sm-2.col-md-2.col-lg-2 Name
			.col-xs-10.col-sm-10.col-md-10.col-lg-10
				%input.form-control{ :type => "text", :name => "name", :placeholder => "Task Action Name", :value => @task_action.name }