.offset-start.col-xs-12.col-sm-12.col-md-12.col-lg-12.well
	=render "shared/flash"
	.pull-left
		%h4
			Completed Tasks
	.clearfix
	.offset
	=form_tag(task_url(@task.id), method: "put", class: "form-horizontal") do
		.pull-left
			%h6 Edit Task
		.pull-right
			%button.btn.btn-primary Save
		.clearfix
		.offset-start
		.form-group
			%label.col-xs-2.col-sm-2.col-md-2.col-lg-2 Task Name
			.col-xs-10.col-sm-10.col-md-10.col-lg-10
				%input.form-control{ :type => "text", :name => "name", :placeholder => "Task Name", :value => @task.name }
		.form-group
			%label.col-xs-2.col-sm-2.col-md-2.col-lg-2 Comment
			.col-xs-10.col-sm-10.col-md-10.col-lg-10
				%input.form-control{ :type => "text", :name => "comment", :placeholder => "Task Comment", :value => @task.comment }
		.form-group
			%label.col-xs-2.col-sm-2.col-md-2.col-lg-2 Task Type
			.col-xs-10.col-sm-10.col-md-10.col-lg-10
				=select_tag "task_type", options_for_select(@types.collect { |t| [t.name, t.id] }, @task.task_type ? @task.task_type.id : ""), :include_blank => true, :style => "width: 100%;"
		.form-group
			%label.col-xs-2.col-sm-2.col-md-2.col-lg-2 Task Customer
			.col-xs-10.col-sm-10.col-md-10.col-lg-10
				=select_tag "task_customer", options_for_select(@customers.collect { |t| [t.name, t.id] }, @task.task_customer ? @task.task_customer.id : ""), :include_blank => true, :style => "width: 100%;"
		.form-group
			%label.col-xs-2.col-sm-2.col-md-2.col-lg-2 Task Project
			.col-xs-10.col-sm-10.col-md-10.col-lg-10
				=select_tag "task_project", options_for_select(@projects.collect { |t| [t.name, t.id] }, @task.task_project ? @task.task_project.id : ""), :include_blank => true, :style => "width: 100%;"
		.form-group
			%label.col-xs-2.col-sm-2.col-md-2.col-lg-2 Task Action
			.col-xs-10.col-sm-10.col-md-10.col-lg-10
				=select_tag "task_action", options_for_actions(@actions, @task.task_action), :include_blank => true, :style => "width: 100%;"
		.form-group
			%label.col-xs-2.col-sm-2.col-md-2.col-lg-2 Task Detail
			.col-xs-10.col-sm-10.col-md-10.col-lg-10
				=select_tag "task_detail", options_for_details(@details, @task.task_detail), :include_blank => true, :style => "width: 100%;"
