.offset-start.col-xs-12.col-sm-12.col-md-12.col-lg-12.well
	=render "shared/flash"
	.pull-right
		%a.btn.btn-primary{ :href => new_user_url }
			%i.fui-plus
			Create New User
	.clearfix
	.offset-start
	%table.table.table-striped
		%thead
			%th Username
			%th Email
			%th Department
			%th Role
		- for user in @users
			%tr
				%td 
					%a{ :href => user_url(user.id) } 
						=user.username
				%td= user.email
				%td= user.department ? user.department.name : ""
				%td= user.role ? user.role.name : ""
