.offset-start.col-xs-12.col-sm-12.col-md-12.col-lg-12.well
	=render "shared/flash"
	.pull-right
		%a.btn.btn-primary{ :href => new_task_detail_url }
			%i.fui-plus
			Create New Task Detail
	.clearfix
	.offset-start
	%table.table.table-striped
		%thead
			%th Task Detail Name
		- for detail in @task_details
			%tr
				%td 
					%a{ :href => task_detail_url(detail.id) } 
						=detail.name
