.offset-start.col-xs-12.col-sm-12.col-md-12.col-lg-12.well
	=render "shared/flash"
	.pull-right
		%a.btn.btn-primary{ :href => new_task_customer_url }
			%i.fui-plus
			Create New Task Customer
	.clearfix
	.offset-start
	%table.table.table-striped
		%thead
			%th Task Customer Name
		- for customer in @task_customers
			%tr
				%td 
					%a{ :href => task_customer_url(customer.id) } 
						=customer.name