.offset-start.col-xs-12.col-sm-12.col-md-offset-4.col-md-4.col-lg-offset-4.col-lg-4.well
	=render "shared/flash"
	=form_tag(forgot_password_url, method: "post") do 
		.form-group
			.input-group
				.input-group-addon
					.unicon-user-male
				%input.form-control{ :type => "text", :name => "username", :placeholder => "Username" }
		.form-group
			.pull-right
				%button.btn Deliver Reset Instructions
			.clearfix